
<br><br><br>
<br>

<table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Areas</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Administracion</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Ciencias Sociales</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Ciencia y Tecnologia</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Ciencias de la vida y de la Salud</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Arte</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Genealogia e historia local</td>
        </tr>
        </tbody>
      </table>
