{{titulo}}

<form [formGroup]="autoresformForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Codigo</label>
      <input type="text" formControlName="code" class="form-control" placeholder="codigo">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nombre</label>
      <input type="text" formControlName="name" class="form-control" placeholder="nombre">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Apellido</label>
      <input type="text" formControlName="lastname" class="form-control" placeholder="apellido">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Fecha de nacimiento</label>
      <input type="text" formControlName="bd_year" class="form-control" placeholder="fecha de nacimiento">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Fecha de muerte</label>
      <input type="text" formControlName="death_year" class="form-control" placeholder="fecha de muerte">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Lugar de nacimiento</label>
      <input type="text" formControlName="bd_place" class="form-control" placeholder="lugar de nacimento">
    </div>
  </div>
  
  <button type="submit" (click)="Saveform()" class="btn btn-primary">Guardar</button>
</form>

<table>
    <tr>
      <td>Nombre</td>
      <td>Apellido</td>
    </tr>
    <tr *ngFor="let autor of authors">
      <td>{{autor.name}}</td>
      <td>{{autor.lastname}}</td>

    </tr>
</table>
  