
<br><br><br>
<br>

<table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Joanne</td>
          <td>Rowling</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>John Ronald</td>
          <td>Reuel Tolkien</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>George R.</td>
          <td>R. Martin</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Mao</td>
            <td>Zedong</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Paulo</td>
            <td>Coelho</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Stephenie</td>
            <td>Meyer</td>
        </tr>
        </tbody>
      </table>
