
{{titulo}}

<form [formGroup]="areasformForm">
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Codigo</label>
      <input type="text" class="form-control"  formControlName="code" placeholder="codigo">
    </div>
</div> 

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputEmail4">Descripcion</label>
        <input type="text" class="form-control"  formControlName="description" placeholder="description">
    </div>
</div> 



  <button type="submit" (click)="Saveform()" class="btn btn-primary">Guardar</button>
</form>
