<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#/login">CUL</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Academico
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#/pages/academic/grades">Grados</a>
              <a class="dropdown-item" href="#/pages/academic/subject">Tema</a>
            </div>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administracion
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#/pages/administration/permissions">Permisos</a>
              <a class="dropdown-item" href="#/pages/administration/roles">Roles</a>
              <a class="dropdown-item" href="#/pages/administration/users">Usuarios</a>
            </div>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Biblioteca
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#/pages/biblioteca/areas">Areas</a>
              <a class="dropdown-item" href="#/pages/biblioteca/existencia">Existencia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#/pages/biblioteca/autores">Autores</a>
              <a class="dropdown-item" href="#/pages/biblioteca/editorial">Editorial</a>
              <a class="dropdown-item" href="#/pages/biblioteca/libro">Libro</a>
              <a class="dropdown-item" href="#/pages/biblioteca/tipo">Tipo</a>
              
            </div>
          </li>
  
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tienda
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#/pages/shop/articules">Articulos</a>
                <a class="dropdown-item" href="#/pages/shop/categories">Categorias</a>
              </div>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="#/pages/estudiantes">Estudiantes</a>
            </li>
  
        </ul>
  
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Escriba" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
  
      </div>
  
    </nav>
  
    <router-outlet></router-outlet>
  
  </div>
