
<br><br><br>
<br>

<table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Año</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Harry Potter y la piedra filosofal</td>
          <td>1997</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>El hobbit</td>
          <td>1937</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Juego de tronos</td>
          <td>1996</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Citas del Presidente Mao Tse-Tung</td>
            <td>1964</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>El Alquimista</td>
            <td>2007</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Crepúsculo – La saga</td>
            <td>2005</td>
        </tr>
        </tbody>
      </table>
