
<br><br><br>
<br>

<table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Editoriales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Acantilado</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Planeta</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Anagrama</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Nevsky</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Library of America</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Valdemar</td>
        </tr>
        </tbody>
      </table>
